
.box
	background-color: #FFF
	opacity: 1.0

#community-menu-container

	.com-photo
		margin-top: 10px
		height : 200px
		width  : 140px

	.community-general-info

		.com-name
			display: block
			font-size: 16px
			margin: 0 0

		.com-members
			display: block
			font-weight: 400
			margin-top: -10px

#community-description-menu

	.com-description
		margin-bottom: 10px

	.com-description-content
		text-align: justify

#community-members-container

	.list-members
		list-style: none

		.member-item
			margin-bottom: 2px

		.member-photo
			height : 35px
			width  : 35px