<div id="community-description-menu" class="col-md-7">

	<div class="col-md-12 box row com-description">
		<h4>{{community.name}} </h4>
		<div class="col-md-12">
			<p class="com-description-content">
				<b>Description:</b> {{community.description}}
			</p>

		</div>
	</div>

	<div class="col-md-12 box">
		<table class="table">
			<tr>
				<th>Topic</th>
				<th>Posts</th>
				<th>Last post</th>
			</tr>

			<tr ng-repeat="topic in topics">
				<td>{{topic.name}}</td>
				<td>{{topic.size}}</td>
				<td>{{topic.lastChange}}</td>
			</tr>

		</table>
	</div>
</div>