<div class="col-md-7">

	<div class="col-md-12 box row">
		<h4>Description: </h4>
		<div class="col-md-12">Description: </div>
	</div>

	<div class="col-md-12 box">
		<h5>Topics</h5>
		<table class="table">
			<tr>
				<th>Topic</th>
				<th>Posts</th>
				<th>Last post</th>
			</tr>
			<tr>
				<td>[OFF] Alemanha 7 x 1 Brasil</td>
				<td>2901</td>
				<td>29/09/2015 10:00</td>
			</tr>			<tr>
				<td>[OFICIAl] Coffe vs JS</td>
				<td>102</td>
				<td>29/09/2015 13:00</td>
			</tr>
		</table>
	</div>
</div>