
<div id="community-menu-container" class="col-md-2 box no-padding row">

	<div  class="col-md-12">
		<img class="com-photo" src="https://lh3.googleusercontent.com/-SerDXs6D6_U/VOkxvE9tldI/AAAAAAAAFsM/oZPDVUaJOzA/w506-h750/JavaScript-logo.png" alt="">
	</div>

	<div class="col-md-12 community-general-info">
		<label class="com-name">
			Javascript
		</label>
		<label class="com-members">(5.125 members)</label>
	</div>

	<div class="col-md-12 no-padding">
		<ul>
			<li>Join community</li>
			<li>Invite friends</li>
		</ul>
	</div>
</div>